@font-face {
     font-family: Aboreto;
     src: url(/static/fonts/Aboreto-Regular.ttf);
}

a.navbar-link {
    margin-right: 0.6em;
    margin-left: 0.5em;
    text-decoration: none;
    line-height: 2em;
}

body {
    background-color: #d2f1ff;
}

#wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    background-color: #B1D0E0;
    width: 200px;
    min-height: 100vh;
    font-size: 16pt;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    padding-left: 0px;
    background-color: #6998AB;
    text-align: center;
    height: 180px;
}

#sidebar ul li a:hover {
    text-decoration: none;
}

#header {
    color: white;
    background-color: #6998AB;
    text-align: center;
    height: 180px;
    box-shadow: 0px 1px 2px 1px #6998AB;
    margin-bottom: 2em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#header h1, #header h2 {
    color: white;
}

#content {
    text-align: center;
    margin-left: 200px;
    margin-top: 200px;
    padding: 1em;
}

h1 {
    font-family: 'Aboreto', serif;
    font-size: 90px;
    padding-top: 10px;
}

h2 {
    font-family: 'Aboreto', serif;
}

.navbar-link .svg-inline--fa {
    margin-right: 5px;
    margin-left: 1em;
    vertical-align: -0.175em !important;
}

.bg-light {
    background-color: white !important;
    margin-bottom: 2em;
}

select {
    width: 300px;
}

span {
    font-weight: normal;
}

a {
    font-weight: 500 !important;
    color: #406882 !important;
}

a:hover {
    text-decoration: underline;
}

select, input {
    background: white;
    border: 1px solid #999;
    border-radius: 5px;
    color: black;
}

select, input {
    padding: 5px;
}

input[type="text"], input[type="url"], input[type="tel"], input[type="email"], input[type="password"] {
    width: 300px;
}

input[type="submit"]:hover {
    border-bottom: 2px solid #333;
}

input[type="submit"]:active {
    border-bottom: 1px solid #999 !important;
}

input[type="number"] {
    width: 5em;
}

td {
    padding: 0.5em;
}

#logo {
    max-height: 150px;
    margin-top: 10px;
    width: auto;
}

#recognised {
    background: #6998AB;
    color: white;
    border: 1px solid #406882;
    padding: 5px;
    font-family: monospace;
    font-size: 20pt;
    width: 280px;
    height: 214px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
    overflow: hidden;
}

#meter {
    width: 20px;
    height: 180px;
    border-top: 10px solid #ff6961;
    background-color: #c1e1c1;
    border-left: 1px solid #406882;
    border-right: 1px solid #406882;
    border-bottom: 1px solid #406882;
    float: left;
    margin-top: 55px;
}

#vol {
    width: 20px;
    height: 190px;
    position: relative;
    top: -10px;
    left: -1px;
    border-left: 1px solid #406882;
    border-right: 1px solid #406882;
    background-color: black;
    transition: all 0.3s;
}

#hearing {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.show {
    float: left;
    text-align: center;
    width: 256px;
    height: 256px;
}

.show img {
    width: auto;
    height: auto;
    max-height: 225px;
    max-width: 256px;
}

.show a {
    text-decoration: none;
}
