@font-face {
     font-family: Aboreto;
     src: url(/static/fonts/Aboreto-Regular.ttf);
}

a.navbar-link {
    margin-right: 0.6em;
    margin-left: 0.5em;
    text-decoration: none;
    line-height: 2em;
}

body {
    background-color: #d2f1ff;
}

#wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    background-color: #B1D0E0;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    font-size: 16pt;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background-color: #6998AB;
    text-align: center;
    height: 200px;
}

#sidebar ul li a:hover {
    text-decoration: none;
}

#header {
    color: white;
    background-color: #6998AB;
    text-align: center;
    height: 200px;
    margin-left: 250px;
}

#header h1, #header h2 {
    color: white;
}

#content {
    text-align: center;
    margin-left: 250px;
    padding: 1em;
}

h1 {
    font-family: 'Aboreto', serif;
    font-size: 90px;
    padding-top: 10px;
}

h2 {
    font-family: 'Aboreto', serif;
}

.svg-inline--fa {
    margin-right: 5px;
    vertical-align: -0.175em !important;
}

.bg-light {
    background-color: white !important;
    margin-bottom: 2em;
}

select {
    width: 300px;
}

span {
    font-weight: normal;
}

a {
    font-weight: 500 !important;
    color: #406882 !important;
}

a:hover {
    text-decoration: underline;
}

select, input {
    background: white;
    border: 1px solid #999;
    border-radius: 5px;
    color: black;
}

select, input {
    padding: 5px;
}

input[type="text"], input[type="url"], input[type="tel"], input[type="email"], input[type="password"] {
    width: 300px;
}

input[type="submit"]:hover {
    border-bottom: 2px solid #333;
}

input[type="submit"]:active {
    border-bottom: 1px solid #999 !important;
}

input[type="number"] {
    width: 5em;
}

td {
    padding: 0.5em;
}

#logo {
    max-height: 150px;
    margin-top: 10px;
    width: auto;
}

#recognised {
    background: black;
    color: yellow;
    font-family: monospace;
    font-size: 20pt;
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
}
