{% extends "base.html" %}

{% block title %}Shows{% endblock %}

{% block heading %}Shows{% endblock %}

{% block content %}

<div class="shows">
    {% for show in shows %}
        <div class="show">
            {% if show.image %}
                <img src='/media/{{show.image}}' /><br />
            {% else %}
                <i class="fa-regular fa-square-plus" style='font-size: 128px;'></i><br />
            {% endif %}
            <a href='/shows/edit?id={{show.id}}'>{{show.name}}</a>
        </div>
    {% endfor %}
    <div class="show">
        <a href='/shows/add'>
            <i class="fa-regular fa-square-plus" style='font-size: 225px;'></i><br />
            New Show
        </a>
    </div>
</div>

{% endblock %}
