{% extends "base.html" %}

{% block title %}Shows{% endblock %}

{% block heading %}Shows{% endblock %}

{% block content %}

<div class="shows">
    {% for show in shows %}
        <div class="show">
            <a href='/shows/edit?id={{show.id}}'>
            {% if show.image %}
                <img src='/media/{{show.image}}' />
            {% else %}
                <i class="fa-solid fa-masks-theater" style='font-size: 200px; margin-top: 10px; margin-bottom: 10px;'></i>
            {% endif %}
            <br />
            {{show.name}}</a>
        </div>
    {% endfor %}
    <div class="show">
        <a href='/shows/add'>
            <i class="fa-regular fa-square-plus" style='font-size: 225px;'></i><br />
            New Show
        </a>
    </div>
</div>

{% endblock %}
