{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block heading %}Overview{% endblock %}

{% block content %}

    <script>
        var ws = new WebSocket("ws://127.0.0.1:31130/");
        ws.onmessage = function (event) {
		    $('#recognised').html(event.data);
        };
    </script>

    What I'm hearing at the moment: <br />
    <div id='recognised'></div>

    <p><small>The hardware designs and software for this device are both open source, published under the <a href='https://www.gnu.org/licenses/gpl-3.0.en.html'>GPL 3.0</a> license. <a href='https://github.com/Elleo/scribe'>Help contribute to the project on our GitHub page</a>.</small></p>
{% endblock %}
