{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block heading %}Overview{% endblock %}

{% block content %}

    <script>
        function text_message(event) {
            $('#recognised').html(event.data);
        }

        function rms_message(event) {
            let v = -parseFloat(event.data) * 3;
            $('#vol').css('height', v + "px");
        }

        function connect(address, message_callback) {
            var ws = new WebSocket(address);
            ws.onmessage = message_callback;
            ws.onclose = function(event) {
                setTimeout(function() {
                    connect(address, message_callback);
                }, 1000);
            };
            ws.onerror = function(err) {
                ws.close();
            }
        }

        function set_show(elem) {
            $.get("/set_show", { "show" : elem.value });
        }

        connect("ws://" + location.hostname + ":31130/", text_message);
        connect("ws://" + location.hostname + ":31131/", rms_message);
    </script>

    <div id='show'>
        Current show: <select onchange='set_show(this)'>
            <option value='none'>None</option>
            {% for show in shows %}
                <option value='{{show.id}}' {% if show.active %} selected {% endif %}>{{show}}</option>
            {% endfor %}
        </select>
    </div>

    <br />

    <div id='hearing'>
        <div id='meter'><div id='vol'></div></div>
        What I'm hearing at the moment: <br />
        <div id='recognised'></div>
    </div>

    <p><small>The hardware designs and software for this device are both open source, published under the <a href='https://www.gnu.org/licenses/gpl-3.0.en.html'>GPL 3.0</a> license. <a href='https://github.com/Elleo/scribe'>Help contribute to the project on our GitHub page</a>.</small></p>
{% endblock %}
